.mainContentContainer
{
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.headerDiv
{
    height: 100px;
    min-width: 420px;
    display: flex;
    flex-direction: column;
    background-color: rgb(69, 148, 250);
}

.headerTitle
{
    margin:auto;
    font-size: 80px;
    font-weight: 150;
    -webkit-text-fill-color:rgb(255, 206, 46);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 0 -1px black;
}

.contentContainer
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.controlContainer
{
    display: flex;
    flex-direction: row;
    height: 50px;
}

.buttonDesign
{
  background-color:rgb(69, 148, 250); 
  border: 1px solid; 
  border-radius: 8px;
  width: 100px;
  height: 40px;
  margin: 5px;
}

.dataContainer
{
  display: flex;
  flex-direction: column
}

.listOfFlightsContainer
{
  display: flex;
  flex-direction: column
}

/* .flightContainer
{
  display: flex;
  flex-direction: row
} */

.imgHolderContainer
{
  height: 170px;
  width: 300px;
}

.buttonContainer
{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.reservationContainer
{
  display: flex;
  flex-direction: column;
  width: 350px;
}

.input
{
    align-self: center;
    height: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    border: 1px solid;
}

.paragraph
{
    align-self: center;
    margin:10px;
}

.selectCurrency
{
    align-self: center;
    width: 100px;
    margin:5px;
    pointer-events: none;
    opacity: 0.4;
}

.dataContainer
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

/*sadrzi niz letova*/
.flightsContainer
{
    height: 250px;
    /* overflow-y: auto;
    overflow-x: hidden; */
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/*kontejner sadrzi sliku i info*/
.flightContainer
{
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 2px;
  border-style:solid;
  border-color: rgb(69, 148, 250) rgb(69, 148, 250) rgb(69, 148, 250) rgb(69, 148, 250);
  border-width: 2px 2px 2px 20px;
}

.flightInfoContainer
{
  width: 650px;
  display: flex;
  flex-direction: column;
}

.infoParagraphFromTo
{
  margin: 10px;
  font-size: 30px;
  height: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pDepartureDateAndTime
{
  font-size: 20px;
  height: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tickets
{
  height: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pFromTo
{
    text-align: center;
    height: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    visibility: hidden;
    margin: 0%;
}

.tableWithReservations {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.tableWithReservations td, .tableWithReservations th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
.tableWithReservations tr:nth-child(even){background-color: #f2f2f2;}
  
.tableWithReservations tr:hover {background-color: #ddd;}
  
.tableWithReservations th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(49, 132, 240);
    color: white;
  }

.rangeContainer
{
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.rangeForPrice {
    align-self: center;
    margin:10px;
    -webkit-appearance: none;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .rangeForPrice:hover {
    opacity: 1;
  }
  
  .rangeForPrice::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background:  rgb(69, 148, 250);
    cursor: pointer;
  }
  
  .rangeForPrice::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

  .rangeParagraphs
  {
    align-self: center;
  }

  .priceFlightsContainer
  {
    overflow: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }

  .priceFlightSpan
  {
  display: inline-block;
  width: 100%;
  height: 100px;
  padding: 5px;
  border: 1px solid rgb(49, 132, 240);    
  background-color: rgb(255, 255, 255); 
  margin: 2px;
  }

  .paragraphSpan
  {
    text-align: center;
    height: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin: 0%;
  }

  .paragraphSpanFromTo
  {
    text-align: center;
    height: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin: 0%;
  }
  
  .discountFlightsContainer
  {
    display: flex;
    flex-direction: column;
    height: 300px;
  }
  
  li {
    background: #6caef5;
    margin: 5px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .liAnimation
  {
    background-color:#f44242;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 3s;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    from {background-color: #6caef5;}
    to {background-color:#f44242;}
  }
  
  /* Standard syntax */
  @keyframes example {
    from {background-color: #6caef5;}
    to {background-color: #f44242;}
  }

  /*--------------------------------------------*/

  .navigationBarContainer
  {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(69, 148, 250);
  }

  .navComponent
  {
    width: 40px;
    align-self: center;
  }
